{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:lodash/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react", "lodash"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
